.text-container {
  position: relative;

  & label.text-area {
    position: absolute;
    top: 1.5rem;
    left: 1rem;

    transform: translateY(-50%);
    color: var(--mat-sys-tertiary);
    transition: all ease-in-out 150ms;
    cursor: text;
    user-select: none;
  }

  & label.hidden {
    cursor: text;
    color: transparent;
  }
}

textarea {
  background: none;
  border: 3px var(--mat-sys-primary) solid;
  margin: 5px;
  padding: 5px 10px;
  border-radius: .7rem;
  color: var(--mat-sys-tertiary);
  max-height: 130px;
  min-height: 2.4rem;
  max-width: 500px;
  cursor: text;
}

textarea:focus {
  animation-name: flashes;
  animation-duration: 2.7s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;


  @keyframes flashes {

    from,
    to {
      border-color: var(--mat-sys-primary);
    }

    50% {
      border-color: transparent;
    }

  }

}
