<ng-container *ngTemplateOutlet="plus" />

<ng-template #plus>
  <svg width="32" height="32" viewBox="0 0 32 32" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg">
    <defs id="defs1" />
    <g id="layer1">
      <text xml:space="preserve"
        style="font-size:55px;text-align:center;writing-mode:lr-tb;direction:ltr;text-anchor:center;stroke-width:3"
        x="3" y="33" id="text1">
        <tspan id="tspan1" x="0" y="33">+</tspan>
      </text>
    </g>
  </svg>
</ng-template>
