<mat-card appearance="outlined">
  <mat-card-header>
    <div class="w-100 d-flex justify-content-between">
      <h2>{{todo.title}}</h2>
      <span>
        <button mat-icon-button (click)="onEdit()">
          <app-icon [icon]="'edit'" />
        </button>
        <button mat-icon-button (click)="onDelete()">
          <app-icon [icon]="'delete'" />
        </button>
      </span>
    </div>
  </mat-card-header>
  <mat-card-content>
    <p>{{ todo.description }}</p>
  </mat-card-content>
  <mat-card-footer>
    <section class="d-flex my-3 flex-column">
      <mat-checkbox [formControl]="controllers[$i]" [checked]="task.value"
        *ngFor="let task of todo.checkers; index as $i">{{task.text}}</mat-checkbox>
    </section>
  </mat-card-footer>
</mat-card>