<h2 matDialogTitle>{{ title }}</h2>

<mat-dialog-content class="me-2">
  <form action="#" [formGroup]="form">
    <app-input-text formControlName="user" name='Username'  />
    <app-input-text formControlName="pass" name='Password' type="password" />
  </form>
</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-button matDialogClose>Cancel</button>
  <button *ngIf="login" (click)="loginSignup()" [disabled]="!this.form.valid" mat-button>Sign in</button>
  <button *ngIf="!login" (click)="loginSignup()" [disabled]="!this.form.valid" mat-button>Sign up</button>

</mat-dialog-actions>
