@use '@angular/material' as mat;

html[theme=dark-red] {
  @include mat.theme((color: (primary: mat.$red-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
      typography: Roboto,
      density: 0));
}

html[theme=dark-red] body {
  background-image: var(--dark-red-wallpaper) !important;
}
