<mat-toolbar class="d-flex my-2 px-2 rounded justify-content-between align-content-center">
  <div></div>
  <span>Todo List</span>
  <div>
    <app-user-img [mat-menu]="menu" *ngIf="session; Else noAuth">
      <mat-menu menu #menu>
          <button mat-menu-item>
              Account
          </button>
          <button (click)="logout()" mat-menu-item>
            Logout
        </button>
      </mat-menu>
    </app-user-img>
  </div>
</mat-toolbar>

<ng-template #noAuth>
  <button mat-flat-button (click)="login()">Login</button>
</ng-template>
