<mat-card class="w-100">
  <mat-card-header class="py-2">
    <div class="d-flex w-100 flex-row justify-content-between">
      <div></div>
      <div>
        <h2>Workspaces</h2>
      </div>
      <div class="h-100">
        <button (click)="addEditWorkspace()" mat-icon-button aria-label="Add new todo">
          <app-icon [icon]="'plus'"></app-icon>
        </button>
      </div>
    </div>
  </mat-card-header>
  <mat-tab-group [dynamicHeight]="true" class="h-100" animationDuration="250ms">
    <mat-tab class="d-flex flex-row" *ngFor="let workspace of workspaces">
      <ng-template mat-tab-label>
        <span class="me-2">{{ workspace.title }}</span>
        <button (click)="addEditTodo(workspace)" mat-icon-button aria-label="Add new todo">
          <app-icon [icon]="'plus'"></app-icon>
        </button>
      </ng-template>

      <app-todo-list (changes)="todoChanges($event)" *ngIf="workspace.todos.length > 0; Else noTodos" [todos]="workspace.todos" />

    </mat-tab>
  </mat-tab-group>
</mat-card>

<ng-template #noTodos>
  <div class="row w-100 h-100">
    <div class="col-12 m-3 d-flex justify-content-center">
      <h2>No todos in this workspace</h2>
    </div>
  </div>
</ng-template>
